/* @font-face {
  font-family: 'gilroy-bold';
  src: url('../assets/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'gilroy-light';
  src: url('../assets/fonts/Gilroy-Light.otf');
} */

body {
  background-color: #28282e;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x:hidden;
  /* color: white; */
  /* font-family: gilroy-light; */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../assets/bg.png') center center / cover no-repeat;
  z-index: -1; /* Make sure the background image stays behind the content */
  background-attachment: fixed;
}

/* @media screen and (max-width: 480px) {
  body {
    padding-top: 4rem;
    bottom: 0;
    right: 0;
  }
} */

label{
  color: white;
}

h1, h2, p{
  margin: 0;
  padding: 0;
  color:antiquewhite;
}

*, *:before, *:after {
  box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(188, 171, 148);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(188, 171, 148);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(188, 171, 148);
}

.alertify-notifier .ajs-message.ajs-error{
  color: #000000 !important;
  background: rgba(217, 92, 92, 0,95);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
}