@font-face {
    font-family: 'gilroy-bold';
    src: url('../assets/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'gilroy-light';
    src: url('../assets/fonts/Gilroy-Light.otf');
}

.formContainer{
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




.loginForm{
/* Note: backdrop-filter has minimal browser support */
    margin-block: auto;
    background: rgba(255, 255, 255, 0.17);
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(18.6px);
    border-radius: 52.3889px;
    max-width: 100%;
    width: 29rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
    /* margin: 4rem auto; */
    gap: 1.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.loginWelcome{

   height:calc(1.5vw + 40px);

}
.loginp{
    color:#454545;
    text-align: center;
    font-size: calc(10px + 0.3vw);
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 90vw;
}

.inputField{
    font-family:Verdana, sans-serif;
    font-size: 0.9rem;
    outline:none;
    max-width: 80vw;
    width: 20rem;
    min-width: 10rem;
    background: #FFFFFF;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    border: 0px;
    padding: 0.9rem;
}

.loginButton{
    width: 20rem;
    max-width: 80vw;
    min-width: 10rem;
    padding: 0.5rem;
    background: #CC0000;
    border: 0px solid #A97B2B;
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
    font-family: 'gilroy-bold';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 25px;
    padding-block: 13px;
    color: #FFFFFF;
    transition: all 0.1s;
}

.loginButton:hover{
    background-color: rgb(196, 158, 75);
}

@media screen and (max-width: 480px) {
    .formContainer{
        align-items: flex-start;
        padding-top: 4rem;
    }
}

