.splashContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 4rem;
  padding: 1rem;
  cursor: pointer;
}

.upperHalf {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.greetings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.ncsLogo {
  width: 120px;
  height: auto;
}

.welcome {
  width: 26.80444rem;
  height: 5.27588rem;
  flex-shrink: 0;
  overflow: hidden;
}
.welcome img {
  width: 100%;
  height: 100%;
}

.farewell {
  width: 50.68138rem;
  height: 20.555rem;
  flex-shrink: 0;
  overflow: hidden;
}

.farewell img {
  width: 100%;
  height: 100%;
}

.greetings-container button {
  width: 23.88169rem;
  height: 4.33356rem;
  flex-shrink: 0;
  border-radius: 0.75369rem;
  border: 1.507px solid #000;
  background: #c00;
  width: 23.88169rem;
  height: 4.33356rem;
  flex-shrink: 0;
}

.greetings-container button p {
  color: #fff;
  -webkit-text-stroke-width: 1.50732421875;
  -webkit-text-stroke-color: #000;
  font-family: "Action Comics Black";
  font-size: 1.00488rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* .clickText{
    position : absolute;
    bottom: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: rgb(183, 183, 183);
    opacity: 0.3;
    text-align: center;
} */

@media screen and (max-width: 900px) {
  .welcome {
    width: 15rem;
    height: 3rem;
  }
  .farewell {
    width: 40rem;
    height: 16rem;
  }
  /* .clickText{
        bottom: 5rem;
    } */
}

@media screen and (max-width: 480px) {
  .welcome {
    width: 10rem;
    height: 2rem;
  }
  .farewell {
    width: 20rem;
    height: 8rem;
  }
  /* .clickText{
        bottom: 8rem;
        width: 60vw;
    } */
}
